.loading-dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.dot {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 9999px;
  background-color: #d1d5db;
}

.dot.active {
  background-color: #4da150;
}
